<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage:SS Enterprises</title>
    <link rel="stylesheet" href="../static/assets/css/style1.css" type="text/css">
</head>
<body>
    <h1>SS Enterprises</h1>
    <a href="">Estimate</a>
    <a href="http://localhost:8080/productmanagement">Product Management</a>
</body>
</html>